<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy8JFcfNzLgO2vRPTjV1bHDuFTJ7zaIMA</string>
	<key>GCM_SENDER_ID</key>
	<string>99816942728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderli2</string>
	<key>PROJECT_ID</key>
	<string>backendfororderli</string>
	<key>STORAGE_BUCKET</key>
	<string>backendfororderli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99816942728:ios:76f535ba1bf6d5c281433d</string>
</dict>
</plist>